.navbar-brand img {
width: 70px;
height: auto;
}

footer {
position: relative;
bottom: 0;
width: 100%;
height: 70px;
background-color: #343a40;
color: white;
text-align: right;
margin: 70px 0px 0px;
}

.btn-link {
color: white;
}

.btn-link:hover {
color: white;
}

.modal-content form .form-group {
padding: 10px;
margin: 0 0 15px;
}